<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--CSS File for BootStrap-->
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
        crossorigin="anonymous"
      />
  
      <!--Javascript File for BootStrap-->
      <script
        defer
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"
      ></script>
  
      <!-- Axios Library here -->
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  
      <!--Vue-->
      <script src="https://unpkg.com/vue@next"></script>  
      
      <!--Other CSS Files-->
      <link rel="stylesheet" href="profile.css"></link>

      <!--Javascript-->
      <script defer src="createProfile.js"></script>

    <title>Profile</title>
</head>
<body>

<!--navbar-->
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">OurLogo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarScroll">
        <ul class="navbar-nav me-0 my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 300px;">
            <li class="nav-item px-3">
            <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item px-3">
            <a class="nav-link" aria-current="page" href="#">People</a>
            </li>
            <li class="nav-item px-3">
            <a class="nav-link" href="#">Jobs</a>
            </li>
            <li class="nav-item dropdown px-3">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Notification
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="#">notification1</a></li>
                <li><a class="dropdown-item" href="#">notification2</a></li>
            </ul>
            </li>
            <li class="nav-item dropdown px-3">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Profile
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarScrollingDropdown" style="min-width:350px">
                <li>    
                <div class="container">
                    <div class="card m-3">
                    <div class="row g-0 align-items-center">
                        <div class="col-sm-4">
                        <img src="../profileimg/profile.png" class="img-fluid rounded-start" alt="profile">
                        </div>
                        <div class="col">
                        <div class="card-body">
                            <h6 class="card-title">Name</h6>
                            <p class="card-subtitle text-muted">Role</p>
                            <p class="card-text"><small>Bio</small></p>
                        </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col d-flex my-2 justify-content-center">
                        <a class="btn btn-secondary fs-6" href="#" role="button" style="width:100px;">View</a>
                        </div>
                        <div class="col d-flex my-2 justify-content-center">
                        <a class="btn btn-secondary fs-6" href="#" role="button" style="width:100px;">Edit</a>
                        </div>
                    </div>
                    </div>
                </div>
                </li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sign Out</a></li>
            </ul>
            </li>
        </ul>
        </div>
    </div>
</nav>

<!-- Page Header -->
<h1 class="p-3 text-center">Profile Details</h1>

<!-- Form -->
<div id="app" class="container-fluid bg-dark text-white p-5">
    
    <div class="row p-3">
        <div class="col">
            <label for="role">Role</label>
            <select name="role" v-model="role" class="form-select" v-on:change='checkvalue' required multiple>
                <option disabled>Select one or more options</option>
                <option value="Photographer">Photographer</option>
                <option value="Videographer">Videographer</option>
                <option value="Music Producer">Music Producer</option>
                <option value="Graphic Designer">Graphic Designer</option>
                <option value="Film Maker">Film Maker</option>
                <option value="Model">Model</option>
                <option value="Make-up Artist">Make-up Artist</option>
                <option value="Content Writing">Content Writing</option>
                <option value="others">Others</option>
            </select>
            <input type="text" name="role" id="role" class="form-control" placeholder="Specify Roles" style='margin-top: 10px; display:none'/>
        </div>
        <div class="col">
            Roles Chosen:
            <ul class="list-group">
                <li v-for="r in role" class="list-group-item">{{r}}</li>
              </ul>
        </div>
    </div>

    <div class="row p-3">
        <div class="col">
            <label for="bio">Bio</label>
            <input type="text" class="form-control" v-model='bio' id="bio" placeholder="A short description of yourself">
        </div>
    </div>

    <div class="row p-3">
        <div class="col">
            <label for="skills">Skills</label>
            <input type="text" class="form-control" v-model="skills" id="facebook" placeholder="Eg. Photography, Videography">
        </div>
    </div>

    <div class="row p-3">
        <div class="col">
            <label for="portfoliolink">Link to Portfolio</label>
            <input type="text" class="form-control" v-model="portfoliolink" id="portfoliolink" placeholder="Eg. www.myonlineportfolio.com">
        </div>
    </div>

    <div class="row p-3">
        <div class="col">
            <label for="profilepic">Profile Picture</label>
            <input type="file" accept="image/*" class="form-control" v-on:change="addprofilepic" id="profilepic">
            <div v-if="profilepic != ''" class="pt-2">Old Image:<img :src="profilepic"></div>
            <div class="p-2" id="sampleprofilepic">New Image:</div>
        </div>        
    </div>

    <div class="row p-3">
        <div class="col">
            <label for="portfoliopath" class="form-label">Photo Gallery</label>
            <input class="form-control" type="file" v-on:change="addportfoliopath" id="portfoliopath" multiple>
            <div class="p-2" id="samplegallery"></div>
        </div>
    </div>

    <hr>

    <div class="row p-3">
        <h3>Contact Details</h3>
    </div>

    <div class="row p-3">
        <div class="col">
            <label for="facebook">Facebook Profile Link</label>
            <input type="text" class="form-control" v-model="facebook" id="facebook" placeholder="Eg. www.facebook.com/your_fb_id">
        </div>
    </div>

    <div class="row p-3">
        <div class="col">
            <label for="google">Google Profile Link</label>
            <input type="text" class="form-control" v-model="google" id="google" placeholder="Eg. g.page/websitename?share">
        </div>
    </div>

    <div class="row p-3">
        <div class="col">
            <label for="youtube">Youtube Profile Link</label>
            <input type="text" class="form-control" v-model="youtube" id="youtube" placeholder="Eg. www.youtube.com/youtubeurl">
        </div>
    </div>

    <div class="row p-3">
        <div class="col">
            <label for="linkedin">LinkedIn Profile Link</label>
            <input type="text" class="form-control" v-model="linkedin" id="linkedin" placeholder="Eg. www.linkedin.com/user">
        </div>
    </div>

    <hr>
    
    <div class="row p-3">
        <div class="col">
            <button class="btn btn-primary" type="submit">Confirm</button>
        </div>
    </div>
    

    

    
</body>
</html>