body {
  background: linear-gradient(#141e30, #243b55);
}

main {
  min-height: 85vh;
}

#banner {
  height: 400px;
  border-radius: 30px;
}

#banner .cut {
  height: 120%;
}

#banner .bg div {
  background-color: gray;
}

#banner .bg img {
  min-width: 100%;
  min-height: 100%;
}

#banner .avatar {
  left: 50px;
  height: 175px;
  width: 175px;
}

#banner .user-info {
  top: 68%;
  left: 15%;
}

#bio-info {
  background-color: purple;
  border-radius: 20px;
}

#bio-imgs .carousel-item img {
  height: 300px;
  margin: auto;
}
